body{
    background-color: #efefef;
}
.main{
    margin: 20px 30px;
    background-color:white;
    padding-bottom: 30px;

}
.btn-publish{
    text-align: right;
    float: right;
    margin-bottom: 20px;
}
.padding{
    padding-top: 20px;
}
.desc{
    padding: 0px 20px;
    line-height: 32px;
}
.profile .section{
    margin-top: 15px;
}
.community-menu{
    color: #888888;
    font-size: 13px;
}
.jumbotron{
    margin: 50px;
}

