body{
    background-color: #efefef;
}
.main{
    margin: 20px 30px;
    background-color:white;
    padding-bottom: 30px;

}
.btn-publish{
    text-align: right;
    float: right;
    margin-bottom: 20px;
}
.padding{
    padding-top: 20px;
}
.desc{
    padding: 0px 20px;
    line-height: 32px;
}
.profile .section{
    margin-top: 15px;
}
.community-menu{
    color: #888888;
    font-size: 13px;
}
.jumbotron{
    margin: 50px;
}
.btn-community{
    float: right;
    margin-bottom: 10px;
}
.community-text-area{
    margin: 10px 0;
}
.comment-item{
    border-bottom: 1px solid #ededed;
    padding: 10px 0;
}
.comment-padding{
    padding: 10px 0;
}
.full-right{
    float: right;
}
.media-body .icon{
    margin-right: 5px;
    cursor: pointer;
    color: #8c8c8c;
}
.media-body .icon:hover{
    color: #2aabd2;
}

.btn-click{
    color: #2aabd2;
}

.comment-second{
    margin: 10px 0;
    border: 1px solid #ededed;
    padding: 15px;
    border-radius: 4px;
}
.margin-sp{
    margin-top: 10px;
}

.sub-count{
    display: inline-block;
    margin-left: -8px;
    vertical-align: inherit;
}
.edit{
    margin-bottom: 10px;
}

.wechat-img{
    width: 200px;
    height: 200px;
}
ul
{
    list-style-type:none;
    padding:0px;
    margin:0px;
}
